* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}


.headerpelis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;  
    z-index: 99999;
    background-color: black;
    position: fixed;
    overflow: visible;

    
}

h1 {
    color: yellow;
    min-width: 20%;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 40px;
    
}

.menu li{
    display: inline-block;
    padding: 10px; 
    margin: 10px; 
}

ul li {  

    list-style: none;

}

ul li a {
    text-decoration: none;
    color: aliceblue;
}

i {
    padding-left: 15px;
    color: aliceblue;
    margin-right: 20px;
}

@media screen and (max-width: 800px) {
    .menu {
      display: none;
    }
}

/* Estilo base para el menú desplegable */
.menudesplegable {
    position: relative;
}

.menu2 {
    display: none; /* Ocultar el menú por defecto */
    list-style: none;
    padding: 0;
  }
  
  /* Estilo para el botón hamburguesa */
.menu-toggle {
    cursor: pointer;
    display: none; 
    
  }
  
.bar {
    width: 25px;
    height: 3px;
    background-color: rgb(247, 243, 243);
    margin: 5px 0;
    margin-left: 10px;
  }
  
  /* Media query para pantallas más pequeñas */
@media screen and (max-width: 800px) {
.menu-toggle {
    display: block; /* Mostrar el botón hamburguesa en pantallas pequeñas */
    
}
}
  
.menu2 {
    display: none;
    position: absolute;
    top: 20px; /* Ajusta la posición del menú según sea necesario */
    left: 0;
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
  
.menudesplegable:hover .menu2 {
    display: block; /* Mostrar el menú cuando esté activo */
    margin-top: 10px;
    z-index: 999999;
    }


main {
    height: 100%;
    width: 100%;
    background-color: black;
}

video {
    width: 100%;
    height: 635px;
    background-position: cover;
}

.listadepelis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: white;
    justify-items: center;
    z-index: 999;
    align-content: start;
    padding-bottom: 100px;
    grid-auto-flow: dense;
    margin-top: -70px; 
   }

.item {
    min-height: 300px;
    min-width: 200px;
    z-index: 9999999999999;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.item1 {
    background-image: url(Fotos\ películas/pobrescriaturas.jpg.jpg);    
}

.masinfo {
    display: none;
    align-items: end;
    padding: 10px;
}

.masinfo a {
    background-color: yellow;
    border-radius: 10%;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 10px;
}

.item1:hover .masinfo {
    display: block; /* Mostrar el menú cuando esté activo */
    margin-top: 10px;
    z-index: 999999;
}

.otrassecciones {
    display: flex;
    z-index: 9999;
    color: white;
    justify-content: center;
}



.ayuda {
    position: fixed;
    z-index: 99;
    height: 40px;
    width: 100px;
    bottom: 40px;
    right: 40px; 
    background-color: #ffff00; 
    border-radius: 10%;
    border: 1px solid;
    box-shadow: 5px;

}

.ayuda i {
    color: black;
    font-weight: 800px;
}














